@import "css/reset.css";
@import "screen/leftside.css";
@import "screen/leftside.css";
@import "screen/rightside.css";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%),
    linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%),
    linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%),
    linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);
}

canvas {
  width: 800px;
  height: 550px;
  border: 5px solid black;
  background-color: white;
}

.hidden {
  display: none;
}

.moving {
  animation: moving 1s ease-in-out forwards;
}

.reverseMoving {
  animation: reverseMoving 1s ease-in-out forwards;
}

@keyframes moving {
  from {
    transform: translateX(-30vh);
    opacity: 0.3;
  }
  to {
    transform: translateX(0vh);
    opacity: 1;
  }
}

@keyframes reverseMoving {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateX(-90vh);
    opacity: 0.3;
  }
}
