.left__side {
  position: absolute;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  left: 0;
}

.first__btn,
.second__btn,
.third__btn,
.fourth__btn {
  cursor: pointer;
  padding: 20px 50px;
  border-radius: 3.75rem;
  line-height: 2.5rem;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: transform ease-in-out 0.1s;

  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, #ff89d6 0%, #c01f9e 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
    0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.hid__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 100%;
  gap: 15px;
  background-color: royalblue;
}

.hid__btn button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  transition: transform ease-in-out 0.1s;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-size: 20px;
}

.left__side button:hover {
  transform: scale(1.1);
}

.hid__colors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color: royalblue;
}

#color {
  margin-top: 15px;
  margin-bottom: 15px;
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  transition: transform ease-in-out 0.1s;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.color-option:hover {
  transform: scale(1.2);
}

.hid__range {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 100%;
  gap: 15px;
  background-color: royalblue;
}

#line-width {
  all: unset;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
}

.hid__erase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 100%;
  gap: 15px;
  background-color: royalblue;
}

.hid__erase button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  transition: transform ease-in-out 0.1s;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  font-size: 20px;
}

.hid__erase button:hover {
  transform: scale(1.2);
}
