.right__side {
  position: absolute;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  right: 2%;
}

.right__side button {
  cursor: pointer;
  width: 50px;
}

#text::placeholder {
  font-size: 11px;
}

label,
#save {
  all: unset;
  cursor: pointer;
  padding: 20px 50px;
  border-radius: 3.75rem;
  line-height: 2.5rem;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: white;
  transition: transform ease-in-out 0.1s;

  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, #ff89d6 0%, #c01f9e 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
    0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

fieldset {
  background-color: white;
  border: 3px solid black;
}

legend {
  font-size: 25px;
  font-weight: 600;
  background-color: transparent;
}

label:hover,
#save:hover {
  transform: scale(1.1);
}

#file {
  display: none;
}
